[defaults]
inventory = ./inventory
remote_user = ansible
# ask_pass = false          → 기본값 생략

[privilege_escalation]
become = true
# become_user = root        → 기본값 생략
# become_method = sudo      → 기본값 생략
# become_ask_pass = false   → 기본값 생략